{% extends "public/layout.html" %}
{% block content %}
  <div class="container">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
          <div>
            <a  href="{{ url_for('posts.update_post', post_id=post.id) }}"><button><i class="fa fa-pen"></i></button></a>
            <a  onclick=" return confirm('Are you sure you want to delete this?')" href="{{ url_for('posts.delete_post', post_id=post.id) }}"><button><i class="fa fa-trash"></i></button></a>
            
        {% endif %}
      </div>  
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content|safe }}</p>
    </div>
  </div>
  <h3 id="comments">Comments</h3>
  <div class="comment-form">
    <ul class="comments">
      {% for comment in post.comments %}
      <li class="comment">
          <div class="comment-thumbnail">
              <a href="{{ url_for('users.user_posts', username=comment.author.username) }}">
                  <img class="rounded-circle article-img" src="{{url_for('static', filename='profile_pics/' + comment.author.image_file)}}">
              </a>
          </div>
          <div class="comment-content">
              <!-- <div class="comment-date">{{ comment.timestamp }}</div> -->
              <div class="comment-author"><a href="{{ url_for('users.user_posts', username=comment.author.username) }}">{{ comment.author.username }} {{ comment.body }}</a></div>
              <div class="comment-body">
                  <!-- {% if comment.body_html %} -->
                      
                  <!-- {% else %}
                      {{ comment.body }} -->
                  <!-- {% endif %} -->
              </div>
          </div>
      </li>
      {% endfor %}

  </ul>
    <form method="POST">
      <div class="form-group">
          {{ form.body.label(class="form-control-label") }}
          {% if form.body.errors %}
              {{ form.body(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.body.errors %}
                      <span class="text-danger">{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.body(class="form-control form-control-lg") }}
          {% endif %}
      </div>
       <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
  
  

 
{% endblock content %}
{% block script %}
    {{ super() }}
     <!-- --------- Owl-Carousel js ------------------->
     <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
     <!-- ------------ AOS js Library  ------------------------- -->
     <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
     
     <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock script %}